src/
Weekly Capstone OBJ.txt
Capstone_ProjectPlan.docx
jetstream2*
*.pem
*.key
id_rsa
id_ed25519
.vscode/
GPUenv/
__pycache__
audio_chunks/
env/temp.wav
temp.wav
config.py
website/config.js
temp.webm
py/fleurs_temp.wav
librispeech_temp.wav