torch
torchaudio
transformers
accelerate
einops
sentencepiece
protobuf
huggingface_hub

numpy
pandas
scikit-learn
matplotlib
jupyterlab
ipykernel

librosa
soundfile
pydub
sounddevice

fastapi
uvicorn
websockets
